h1 {
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}
body{
    background-color: antiquewhite;
}
.Header {
    background-image: url("https://c2.staticflickr.com/6/5737/22530693489_55d43126d1_h.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1024px 233px;
    height: 210px;
    position: relative;
    bottom: -5px;

}
.nav1{
    position:relative;
    bottom: -110px;
    text-align: center;
}
button {
    background-color: forestgreen;
    border-color: white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin: 2px 2px;
    padding: 5px 15px;
    text-align: center;
}
button:hover {
    color: forestgreen;
    border-color: forestgreen;
    background-color: white
}
button:focus {
    outline:0;
}
.descrip{
    bottom: -130px;
    position: relative;
    text-align: center;
}
.activ img{
    bottom: -100px;
    position: relative;
    text-align: center;
    display:block;
    margin: 0 auto;
    height: 200px;
}
.activ p{
    bottom: -360px;
    position: relative;
    text-align: center;
}
.video {
    bottom: -170px;
    position: relative;
    text-align: center;
    display:block;
    margin: 0 auto;
}
